# PostgreSQL Database Connection
DATABASE_URL="postgresql://classhelper_user:classhelper_password@localhost:5432/classhelper_db?schema=public"

# App Server Port
PORT=3000

# JWT Secrets & Expiration
JWT_SECRET="super-secret-classhelper-jwt-key"
JWT_ACCESS_SECRET="super-secret-classhelper-jwt-access-key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_SECRET="super-secret-classhelper-jwt-refresh-key"
JWT_REFRESH_EXPIRES_IN="7d"
